* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  color: white;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

:root {
  --primary-color: #4ECCA3;
  --secondary-color: #232931;
}

.main-wrapper {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  position: relative;
  background-color: #222;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.header {
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
}

.header-container {
  width: 100%;
  max-width: 980px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social-media {
  height: 100%;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.social-media__icon {
  fill: white;
  border-radius: 7px;
}

.social-media__anchor {
  display: flex;
  align-items: center;
}

.header-container__title {
  font-size: 22px;
  color: var(--primary-color);
  user-select: none;
}

.header-container__span {
  color: white;
}

.main {
  width: 100%;
  height: 100%;
}

.banner {
  width: 100%;
  min-width: 980px;
  height: 100vh;
  background: url('../img/react.jpg');
  background-size: cover;
}

.banner-wrapper {
  width: 100%;
  height: 100%;
  background-color: rgb(28, 33, 39, 0.8);
  -webkit-box-shadow: inset 750px 0px 80px 0px rgba(35,41,49,0.6); 
  box-shadow: inset 750px 0px 80px 0px rgba(35,41,49,0.6);
  display: flex;
  justify-content: center;
}

.banner-container {
  width: 100%;
  max-width: 980px;
  height: 100%;
  display: flex;
  align-items: center;
}

.banner-info {
  width: 300px;
  height: 240px;
}

.banner-info p:nth-last-child(2) {
  margin-bottom: 30px;
}

.banner-info__title {
  font-size: 40px;
  line-height: 2.7rem;
  margin-bottom: 10px;
}

.banner-info__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border: 1px solid var(--primary-color);
  border-radius: 7px;
  color: var(--primary-color);
  width: 100%;
  height: 40px;
  font-size: 15px;
  font-weight: 600;
  transition: background-color .3s, color .3s;
}

.banner-info__btn:hover {
  color: var(--secondary-color);
  background-color: var(--primary-color);
}

.banner-info__about {
  font-size: 18px;
}

.banner-info__about--span {
  color: var(--primary-color);
}