* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  color: white;
}

html {
  scroll-behavior: smooth;
}

:root {
  --primary-color: #4ECCA3;
  --secondary-color: #232931;
}

section {
  max-width: 980px;
  width: 100%;
}

.global-wrapper {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.header {
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  transition: .3s all;
  z-index: 99;
}

.header--background {
  background-color: var(--secondary-color);
}

.header-container {
  width: 100%;
  max-width: 980px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social-media {
  height: 100%;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.social-media__icon {
  fill: white;
  border-radius: 7px;
  transition: .3s fill;
}

.social-media__icon:hover {
  fill: var(--primary-color);
}

.social-media__anchor {
  display: flex;
  align-items: center;
}

.header-container__title {
  font-size: 22px;
  color: var(--primary-color);
  user-select: none;
}

.header-container__span {
  color: white;
}

.main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner-bg1 {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100vh;
  background: url('../img/react.jpg');
  background-size: cover;
}

.banner-bg2 {
  width: 100%;
  height: 100%;
  max-height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: rgb(28, 33, 39, 0.8);
  -webkit-box-shadow: inset 750px 0px 80px 0px rgba(35,41,49,0.6); 
  box-shadow: inset 750px 0px 80px 0px rgba(35,41,49,0.6);
}

.banner-container {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.banner-info {
  width: 300px;
  height: 240px;
}

.banner-info p:nth-last-child(2) {
  margin-bottom: 30px;
}

.banner-info__title {
  font-size: 40px;
  line-height: 2.7rem;
  margin-bottom: 10px;
}

.banner-info__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border: 1px solid var(--primary-color);
  border-radius: 7px;
  color: var(--primary-color);
  width: 100%;
  height: 40px;
  font-size: 15px;
  font-weight: 600;
  transition: background-color .3s, color .3s;
  overflow-anchor: unset;
}

.banner-info__btn:hover {
  color: var(--secondary-color);
  background-color: var(--primary-color);
}

.banner-info__about {
  font-size: 18px;
}

.banner-info__about--span {
  color: var(--primary-color);
}

.skills {
  margin-bottom: 150px;
}

.skills-container {
  margin-top: 60px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.skills-container__title {
  color: var(--primary-color);
  font-size: 25px;
  text-align: center;
  margin-bottom: 60px;
}

.skills-container__items {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.skills-container__item {
  width: 280px;
  height: 300px;
  position: relative;
  border-radius: 7px;
  margin-bottom: 5rem;
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 25px;
}

.skills-container__item:after {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 5px;
  background-color: var(--primary-color);
}

.skills-item__icon {
  width: 70px;
}

.skills-item__title {
  color: var(--primary-color);
  font-size: 28px;
  font-weight: 600;
}

.projects {
  margin-bottom: 50px;
  position: relative;
}

.projects-container::after, .projects-container::before  {
  content: '';
  position: absolute;
  width: 100%;
  height: 65px;
}

.projects-container::before {
  background: url('../img/divisor-top.svg');
  background-repeat: no-repeat;
  background-size: cover;
  transform: translateY(-99%);
}

.projects-container::after {
  bottom: 0;
  background: url('../img/divisor-bottom.svg');
  background-repeat: no-repeat;
  background-size: cover;
  transform: translateY(99%);
}

.projects {
  max-width: 100vw;
  margin-bottom: 150px;
}

.projects-container {
  width: 100%;
  height: 450px;
  background-color: var(--secondary-color);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.projects-container__title {
  color: white;
  font-size: 25px;
  margin: 20px 0;
}

.projects-items {
  width: 100%;
  max-width: 980px;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.projects-item {
  width: 300px;
  height: 300px;
  position: relative;
  background-color: white;
  border-radius: 7px;
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.3);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.projects-item::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: var(--primary-color);
  border-radius: 0 0 7px 7px;
}

.projects-item__image {
  width: 100%;
  height: 150px;
  margin-bottom: 10px;
}

.projects-item__title {
  font-size: 22px;
  color: var(--secondary-color);
}

.projects-item__about {
  width: 250px;
  color: var(--secondary-color);
  text-align: center;
  line-height: 1rem;
  font-weight: 600;
  font-size: 13px;
  margin-bottom: 20px;
}

.projects-item__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border: 1px solid var(--primary-color);
  border-radius: 7px;
  color: var(--primary-color);
  width: 200px;
  height: 30px;
  font-size: 13px;
  font-weight: 600;
  transition: background-color .3s, color .3s;
  overflow-anchor: unset;
}

.projects-item__btn:hover {
  color: var(--secondary-color);
  background-color: var(--primary-color);
}